

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="images/icons/bus.png" style="width: 24px"> Buses Santa Cecilia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Rutas</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Horarios de buses Santa Cecilia</h1>
      <p class="lead">El Caoba | <b>La Virgen</b> | La Cruz | <b>San Jose</b> | Upala | <b>San Carlos</b> | Sta Elena</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><img src="images/icons/information.png"></h2>
          <p class="lead">Consulte los horarios de buses desde y hacia el distrito de Santa Cecilia, ubicado en el cantón de La Cruz, Guanacaste.</p>
          <!--<ul>
            <li>Clickable nav links that smooth scroll to page sections</li>
            <li>Responsive behavior when clicking nav links perfect for a one page website</li>
            <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
            <li>Minimal custom CSS so you are free to explore your own unique design options</li>
          </ul>-->
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Rutas |</h2><span class="badge bg-warning">Ultima Actualización 02/02/2021</span>

          <div class="span6" style="text-align: center;">
           <div><img src="images/icons/ruta.png"></div>
           <hr>
           <div class="field your-name form-group">

            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-6">
                <br>

              </div>
            </div>
          </div>
        </div>
        <!--<div class="alert alert-info" role="alert" style="text-align: center;width: auto;">
          "<span class="fas fa-arrow-down"></span>" Indica hora de paso aprox.
        </div>-->
      </div>
  <!--
      <div class="col-md-6">

       <div class="alert" style="background: #5c6bc0;">
        <select id="routeFrom" style="
        background: rgb(92 107 192);
        font-family: 'Open Sans', sans serif;
        border: 0;
        font-size: 16px;
        text-align: left;
        vertical-align: middle;
        width: 100%;
        color: antiquewhite;
        " class="form-control">
        <option value="0">Sta Elena - Sta Cecilia - La Cruz</option>
        <option value="1">La Virgen - Sta Cecilia - La Cruz</option>
        <option value="2">El Caoba  - Sta Cecilia - La Cruz</option>
        <option value="3">Upala - Sta Cecilia - La Cruz</option>
        <option value="4">San Carlos - Sta Cecilia - La Cruz</option>
        <option value="5" selected="">Sta Cecilia - La Cruz</option>
        <option value="7">Sta Cecilia - San Jose</option>
      </select>
    </div>
    <table class="table" style="font-family: courier;font-size: 1.5em;text-align: center;color: aliceblue; box-shadow: 2px 2px 5px #999;">
      <thead class="thead-dark" style="font-weight: bold;">
        <tr>
          <td class="weekDay">Lunes a Viernes</td>
          <td class="saturDay">Sábado</td>
          <td class="weekDay">Domingo</td>
        </tr>
      </thead>
      <tbody id="content_table">

      </tbody>
    </table>
  
  </div>
  <div class="col-md-6">
    <div class="alert alert-success" role="alert" style="width: 100%;text-align: center;">
      <h4 class="alert-heading" id="revertedRute"><span class="fa fa-undo"></span> La Cruz - Sta Cecilia</h4>
    </div>

    <table class="table table-dark" style="font-family: courier;font-size: 1.5em;text-align: center;color: aliceblue; box-shadow: 2px 2px 5px #999;">
      <thead class="thead-dark" style="font-weight: bold;">
        <tr>
          <td class="weekDay_revert">Lunes a Viernes</td>
          <td class="saturDay_revert">Sábado</td>
          <td class="weekDay_revert">Domingo</td>
        </tr>
      </thead>
      <tbody id="content_table_return">

      </tbody>
    </table>

  </div>

-->
  
</div>
    <app-rutas></app-rutas>
</div>
</section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white" ><small class="alert">Made with ❤️ by <a href="mailto:alvares.andres54@gmail.com" style="color: white">Jockssan Alvarez</a> 2021</small></p>
    </div>
    <!-- /.container -->
  </footer>


<router-outlet />
